@import "vendors/normalize.scss";
@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/animation";
@import "base/base.scss";
@import "layouts/header.scss";
@import "layouts/footer.scss";
@import "components/btn.scss";
@import "components/dish.scss";
@import "components/how-it-works";
@import "components/restaurants.scss";
@import "pages/home.scss";
@import "pages/menu.scss";

section h2{
    width: 90%;
    font-size: 25px;
    font-weight: 900;
    @include tablet-only{
        text-align: center;
    }
}