@import "vendors/normalize.scss";
@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/animation";
@import "base/base.scss";
@import "layouts/header.scss";
@import "layouts/footer.scss";
@import "components/btn.scss";
@import "components/dish.scss";
@import "components/how-it-works";
@import "components/restaurants.scss";
@import "pages/menu.scss";

body{
    @include font-body;
}

section h2{
    width: 90%;
    font-size: 25px;
    font-weight: 900;
}

#section-title, #section-restaurants{
    background-color:$color-grey-background;
}

#section-title, #section-how-it-works, #section-restaurants{
    @include flex-column;
}

#section-how-it-works, #section-restaurants{
    padding-top: 50px;
    padding-bottom: 50px;


}

.localisation{
    background-color: darken($color: $color-grey-background, $amount: 5%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    width: 75%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
    font-size: 30px;
    &+p{
        width: 90%;
        text-align: center;
        font-size: 20px;
        margin-top: 0;
    }
}

#restaurants{
    background-color: $color-grey-background;
}
