.btn{
    background: linear-gradient(to top left,$color-primary,$color-secondary);
    font-size: 20px;
    padding: 20px 30px;
    color: #fff;
    border-radius: 40px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}