.btn{
    background: linear-gradient(to top left,$color-primary,$color-secondary);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    border-radius: 40px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 65%;
    text-align: center;
}