.choice{
    width: 90%;
    overflow: hidden;

    &__title{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;

        span{
            border-bottom: 3px solid $color-tertiary;
            padding-bottom: 5px;
        }

    }

    &__dish{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: #FFF;
        border-radius: 25px;
        padding-left: 15px;
        @include box-shadow-cartes;
        margin-bottom: 20px;
        height: 80px;
        overflow: hidden;

 
        &:hover .choice__check{
            animation: check-dish 1000ms both;
        }


        h3{
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        p{
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }

    &__dish-name{
        min-width: 190px;
        border: 2px solid black;
        flex-grow: 1;

    }

    &__dish-price{
        font-weight: 700;
        margin-bottom: 18px;
        margin-left: 10px;
        text-align: right;
        margin-right: 15px;
        
    }

    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: $color-tertiary;
        // position: absolute;
        // top: 0px;
        // right: 0px;
        // border-radius: 0 25px 25px 0;
        color: #FFF;
        font-size: 30px;
        width: 0px;
        overflow: hidden;
    }
    



}