.choice{
    width: 90%;

    @include desktop-only{
        width: 30%;
    }

    &__title{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;

        span{
            border-bottom: 3px solid $color-tertiary;
            padding-bottom: 5px;
        }

        @include tablet-only{
            border-bottom: 3px solid $color-tertiary;
            padding-bottom: 5px;
            width: 100%;
        }

    }

    &__dish{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: #FFF;
        border-radius: 25px;
        padding-left: 15px;
        @include box-shadow-cartes;
        margin-bottom: 20px;
        height: 80px;
        overflow: hidden;

        &:hover{
            @include box-shadow-cartes--hover;
            cursor: pointer;
        }
 
        &:hover .choice__check{
            animation: check-dish 600ms both;
        }

        &:hover .choice__check i{
            animation: rotate-check 450ms both;
        }


        h3{
            font-size: 18px;
            margin-bottom: 0;
            margin-top: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        p{
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }

        animation: menu-loading $anim-dur both;

        @for $i from 1 through $num{
            &--#{$i}{
                animation-delay: $anim-delay*$i;
            }
        }

    }

    &__dish-name{
        min-width: 150px;
        flex-grow: 1;

    }

    &__dish-price{
        font-weight: 700;
        margin-bottom: 18px;
        margin-left: 10px;
        text-align: right;
        margin-right: 15px;
        
    }

    &__check{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 80px;
        background-color: $color-tertiary;
        color: #FFF;
        font-size: 30px;
        width: 0px;
        overflow: hidden;
    }
    



}