.how-it-works{
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: $color-grey-background;
    border-radius: 30px;
    box-shadow: 0px 5px 15px darken($color-grey-background,10%);

    &__number{
        background-color: $color-primary;
        color: #fff;
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 50%;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
        margin-left: -15px;
    }

    &__icon{
        margin-left: 25px;
        font-size: 25px;
        color:darken($color-grey-background,50%)
    }

    &__text{
        margin-left: 25px;
        font-weight: 700;
        font-size: 18px;
    }

    &--purple{
        background-color: lighten($color: $color-primary, $amount: 35%);
        .how-it-works__icon{
            color: $color-primary;
        }
    }
}