.how-it-works{
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: $color-grey-background;
    border-radius: 30px;
    @include box-shadow-cartes;

    @include desktop-only{
        width: 30%;
        margin-left: 0px;
    }

    &__number{
        background-color: $color-primary;
        color: #fff;
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 50%;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
        margin-left: -15px;
        @include desktop-only{
            position: absolute;
            top:-15px;
            right: 45%;
            height: 40px;
            width: 40px;
            font-size: 20px;
            padding: 10px;
        }

    }

    &__icon{
        margin-left: 25px;
        font-size: 25px;
        color:darken($color-grey-background,50%);

        @include desktop-only{
            margin-left: 15px;
        }
    }

    &__text{
        margin-left: 25px;
        font-weight: 700;
        font-size: 18px;

        @include desktop-only{
            margin-left: 0;
            width: 90%;
            text-align: center;
        }
    }

    &--purple{
        background-color: lighten($color: $color-primary, $amount: 35%);
        .how-it-works__icon{
            color: $color-primary;
        }
    }
}