.how-it-works{
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 35px;
    padding: 20px 0;
    background-color: $color-grey-background;
    border-radius: 20px;

    &__number{
        background-color: $color-primary;
        color: #fff;
        height: 35px;
        width: 35px;
        padding: 10px;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
        margin-left: -17.5px;
    }
}