.restaurant{
    width: 90%;
    margin-left: 20px;
    position: relative;
    

    &__img{
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    &__body{
        display: flex;
        background-color: #FFF;
    }

    &__new{
        position: absolute;
        top: 0px;
    }
}