.loading-spinner{
    background-color: $color-grey-background;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: background-spinner 1ms calc($anim-dur-spinner*2 + $anim-delay-spinner*$num-spinner + 300ms) both;

    i{
        position: relative;
        z-index: 3;
        font-size: 35px;
        margin: 15px;
        animation: loading-spinner $anim-dur-spinner 150ms cubic-bezier(.6,0,.60,1) forwards 2 alternate;
        color: $color-primary;
    }

    .spinner{
        @for $i from 1 through $num-spinner {
            &--#{$i}{
                animation-delay: $anim-delay-spinner * $i + random($limit: 100)*1ms;
            }
        }
    }
}

#section-title, #section-restaurants{
    background-color:$color-grey-background;
}

#section-title, #section-how-it-works, #section-restaurants{
    @include flex-column;
}

#section-restaurants, #section-how-it-works{
    @include tablet-only{
        @include flex-row-wrap;
    }
}

#section-how-it-works, #section-restaurants{
    padding-top: 50px;
    padding-bottom: 50px;


}

.localisation{
    background-color: darken($color: $color-grey-background, $amount: 5%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    width: 75%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-weight: 900;
    font-size: 30px;
    &+p{
        width: 90%;
        text-align: center;
        font-size: 20px;
        margin-top: 0;
    }
}

#restaurants{
    background-color: $color-grey-background;
}