@mixin font-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin font-title {
    font-family: 'Shrikhand', sans-serif;
}

@mixin flex-column{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}