footer{
    background-color: #353535;
    padding-left: 5%;
    padding-top: 25px;
    padding-bottom: 25px;

    img{
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(255deg) brightness(103%) contrast(101%);
        position: relative;
        width: 25%;
        height: auto;

        @include desktop-only{
            width: 200px;
        }
    }

    ul{
        margin-top: 15px;
    }

    li{
        margin-bottom: 8px;
        
    }
    a{
        color: #fff;
        i{
            font-size: 14px;
        }
        
        .fa-utensils {
            margin-right: 13.25px;
        }
        .fa-handshake-angle{
            margin-right: 8px;
        }

    }
}

    